      <div class="row">
        <div class="col-md-4 post-title">
          <h2>Design</h2>
        </div>
        <div class="col-md-8"> 
          <div class="row"> 
            <div class="col-sm-4">
              <img src="/img/reduced-size/expressive_type_assignment-02.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-sm-4">
              <img src="/img/reduced-size/expressive_type_assignment-04.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-sm-4">
              <img src="/img/reduced-size/expressive_type_assignment-05.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>